<div class="card user-card">
    <div class="card-body text-center">
        <div class="user">
        </div>
        <br><br>
        <h5>Hello, my name's Bruno Rodrigues</h5>
        <h6 class="text-muted">and this is my test, i hope you like it :)</h6>
    </div>
    <div class="card-footer">
        <h6 class="text-success">My Contact:</h6>
        <h6 class="text-muted">Mail=: <a href="mailto:brunorodri2015@gmail.com">brunorodri2015@gmail.com</a></h6>
        <h6 class="text-muted">Github: <a href="https://github.com/BrunoRodrigues2021"
                target="blank">BrunoRodrigues2021</a>
        </h6>
        <h6 class="text-muted">Linkedin: <a href="https://www.linkedin.com/in/bruno-silva-rodrigues-14b898170/"
                target="blank">bruno-silva-rodrigues-14b898170</a></h6>
    </div>


</div>